<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<!-- https://superuser.com/a/1376408/430448 -->
		<!-- https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#elements-of-a-runsettings-file -->
		<ResultsDirectory>..\TestResults</ResultsDirectory>
		<TargetPlatform>x64</TargetPlatform>
		<!-- https://github.com/microsoft/vstest-docs/blob/main/docs/configure.md -->
		<!-- Also, required for MSTest 3 on .NET Framework. https://github.com/microsoft/testfx/issues/1437 -->
		<DisableAppDomain>true</DisableAppDomain>
	</RunConfiguration>

	<MSTest>
		<DeploymentEnabled>False</DeploymentEnabled>
	</MSTest>
</RunSettings>
